.product-list-container {
  background: $purple;
  height: 100%;
  padding: $space * 3 0;

  @media (max-width: 475px) {
    padding: 0 0 $space * 3;
  }

  .product-list {
    margin-top: $space * 3;
    height: 100%;
    h1 {
      color: $white-smoke;
      text-align: center;
      margin-bottom: $space * 2;
      font-size: 2.1rem;
      font-weight: bold;
    }

    .products {
      box-sizing: border-box;
      width: 80%;
      margin: $space * 2 auto;
      padding: $space * 2;
      background: $white-smoke;
      border-radius: 5px;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      box-shadow:
              0 2.8px 2.2px rgba(0, 0, 0, 0.034),
              0 6.7px 5.3px rgba(0, 0, 0, 0.048),
              0 12.5px 10px rgba(0, 0, 0, 0.06),
              0 22.3px 17.9px rgba(0, 0, 0, 0.072),
              0 41.8px 33.4px rgba(0, 0, 0, 0.086),
              0 100px 80px rgba(0, 0, 0, 0.12)
    ;

      .product {
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin: $space;
        padding: $space 0 0;
        box-sizing: border-box;
        height: 250px;
        width: 100%;
        font-size: 1.2rem;
        flex: 1  0 30%;
        text-align: center;
        color: $white;
        cursor: pointer;
        transition: .4s;

        &:hover {
          .product-info {
            bottom: 50px;
          }
        }

        .product-image {
          background: $inveon-black;
          height: 100%;
          width: 100%;
          margin: 0;
          padding: 0;


        }

        .product-info {
          position: absolute;
          bottom: -50px;
          transition: .4s;
          .product-name {
            margin-bottom: $space;
          }

          .add-to-cart {
            cursor: pointer;
            margin: $space 0;
            padding: $space $space * 2;
            background: $inveon-red;
            border-radius: 5px;
            color: $white;
            display: inline-block;
            transition: .4s;

            &:hover {
              color: $inveon-black;
            }
          }
        }
      }

      // Mobile

      @media (max-width: 475px) {
        display: block;

        .product {
          margin: $space auto;
        }
      }
    }
  }
}
